[submodule ".config/ghostty/ghostty-shaders"]
	path = .config/ghostty/ghostty-shaders
	url = git@github.com:hackr-sh/ghostty-shaders.git
[submodule "private-config"]
	path = private-config
	url = git@github.com:jabawack81/dotfiles-private-config.git
