* {
  font-family: monospace;
  font-size: 15px;
  color: #fdf6e3;
  background: transparent;
}

#window {
  background: #292b2e;
  margin: auto;
  padding: 10px;
  border-radius: 0px;
  border: 2px solid #1a1a1a;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
  background: #1a1a1a;
  color: #fdf6e3;
  border: none;
}

#outer-box {
  padding: 10px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 0px;
  background: transparent;
}

#entry:selected {
  background: #268bd2;
  color: #ffffff;
}

#text {
  margin: 2px;
}
