* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(41, 43, 46, 0.9);
}

button {
	color: #fdf6e3;
	background-color: #1a1a1a;
	border-style: solid;
	border-width: 1px;
	border-color: #292b2e;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-radius: 8px;
	margin: 10px;
	min-width: 150px;
	min-height: 150px;
	font-family: monospace;
	font-size: 15px;
}

button:focus, button:active, button:hover {
	background-color: #268bd2;
	outline-style: none;
}

#lock {
	background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
	background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
	background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
	background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
	background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}