[Unit]
Description=Cycle Hyprland wallpaper
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/cycle-wallpaper.sh
